@use 'config' as *;

.background{
  background: $primarycolor;
  color: $secondaryColor;
}

.topHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  border-bottom: 2px solid $secondaryColor;
  margin: 0 5% 0 5%;

  &__name{
    margin: 20px 0 10px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 30px 5% 0 5%;
    padding: 0;
    list-style: none;

    &__picture {
      min-width: 200px;
      min-height: 100px;
      margin: 0 40px 0 40px;
    }
    &-text{
      margin: 10px 8% 30px 8%;
      justify-self: center;
    }
  }
}

.midHeader{
  &__list{
    padding: 0;
    margin: 30px 5% 0 5%;

    &__item {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0 0 0 0;
      justify-content: center;
      list-style: none;

      &-picture{
        min-width: 200px;
        min-height: 100px;
        margin: 30px 0 0 0;
        list-style: none;
      }
    }
  }
}